@import '../../../assets/theming/animations';

mat-card {
    margin: 15px;
    animation-name: bounceInUp;
    animation-duration: 500ms;
    transform-origin: center bottom;
    right: 0%;
    width: 50%;
    white-space: normal;
    word-wrap: break-word;

    .time {
        float: right;
        color: transparentize($color: #000000, $amount: 0.5)
    }
}