@import 'src/assets/theming/animations';

mat-card {
    animation-name: bounceInUp;
    animation-duration: 500ms;
    transform-origin: center bottom;
    white-space: normal;
    word-wrap: break-word;

    .time {
        float: right;
        color: transparentize($color: #000000, $amount: 0.5)
    }
}

.message-container {
    border: 1px solid red;
    width: 100%;
    display: inline-flex;
}

.message {
    max-width: 40%;
}

// Someone else sent it
.in {
    background: #d1ba57;
}

// I sent it
.out {
    background: #84b3ff;
}