$inColor: rgb(187, 169, 92);
$outColor: rgb(126, 174, 236);
$indent: 8%;

.name {
    font-size: 0.8em;
    font-weight: 1;
}

.time {
    font-size: 0.6em;
    text-align: right;
    display: none;
}

.bubble {
    max-width: 60%;
    margin: 15px auto;  
    border-radius: 15px;
    padding: 20px;
    line-height: 100%;
    display: block;
    position: relative;

    clear: both;
    text-align: left;

    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border: 15px solid transparent;
    }

    &.out {
        margin-right: $indent;
        background: $outColor;
        float: right;

        &:after {
            border-left: 15px solid $outColor;
            border-top: 15px solid $outColor;
            right: -16px;
            top: 0px;
        }
    }

    &.in {
        margin-left: $indent;
        background: $inColor;
        float: left;

        &:after {
            border-right: 15px solid $inColor;
            border-top: 15px solid $inColor;
            left: -16px;
            top: 0px;
        }
    }
}