<div class="message-container">
  <mat-card class="message" [ngClass]="{'out': outgoing, 'in': !outgoing}" *ngIf="message.messageType === 'CHAT'">
    <mat-card-subtitle>
      {{message.personNumber}}
      <span fxFlex></span>
      <button *ngIf="canDelete" mat-icon-button class="delete-btn" (click)="deleteThis()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-subtitle>
    <mat-card-content>
      <div>{{message.content}}</div>
      <div class="time">{{ message.time }}</div>
    </mat-card-content>
  </mat-card>
</div>