<div class="container">
    <div class="message bubble" [ngClass]="{
        'out': outgoing, 
        'in': !outgoing, 
        'lecturer': message.tag === 'lecturer',
        'tutor': message.tag === 'tutor'
    }" *ngIf="message.messageType === 'CHAT'">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div *ngIf="canDelete" class="options delete-button" (click)="deleteThis()">
                <mat-icon>delete</mat-icon>
            </div>
            <div class="name">
                {{message.personNumber}}
            </div>
            <span class="spacer" fxFlex></span>
            <div class="time">{{message.time}}</div>
        </div>
        <mat-divider></mat-divider>
        <p>
            {{message.content}}
        </p>
    </div>
</div>