<ng-container *ngIf="survey && survey.active; else elseTemplate">
  <form *ngIf="!isLecturer()" [formGroup]="form" (submit)="answerSurvey()">
    <h2>{{ survey.title }}</h2>
    <div [ngSwitch]="survey.responseType">
      <mat-form-field *ngSwitchCase="'MC'">
        <mat-label>Choose an answer</mat-label>
        <mat-select formControlName="answer">
          <!-- TODO: this should be radio button -->
          <mat-option *ngFor="let option of survey.options; let i = index" value="{{i}}">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'TEXT'">
        <mat-label>Type an answer</mat-label>
        <textarea matInput formControlName="answer"></textarea>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'NUMERIC'">
        <mat-label>Type an answer</mat-label>
        <input matInput formControlName="answer" type="number">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="form.pristine" (click)="answerSurvey()">Submit answer</button>
  </form>
  <!-- Only for lecturers/mods -->
  <div *ngIf="isLecturer()">
    <div class="surveySummary">
      <h2>{{ survey.title }}</h2>
    </div>
    <div *ngIf="survey.responseType === 'MC'">
      <p *ngFor="let response of survey.results; let i = index">
        {{survey.options[i]}}: {{response}}
      </p>
      <app-chart [labels]="survey.options" [data]="survey.results"></app-chart>
    </div>
    <!-- TODO: Fancy graphing/Analytics -->
    <button mat-raised-button color="primary" (click)="closeSurvey()">Close this survey</button>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <mat-error>There are no currently open surveys</mat-error>
  <button mat-raised-button color="primary" (click)="createSurvey()">Open a survey</button>
</ng-template>