<form [formGroup]="form" class="table-container" *ngIf="gotPermissions">
  <table mat-table [dataSource]="users">

    <!-- ! Person Number Column ! -->
    <ng-container matColumnDef="personNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="personNumber">Person</th>
      <td mat-cell *matCellDef="let user">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
          {{user.personNumber}}
          <div class="privelages" fxLayout="row" fxLayoutGap="5px">
            <mat-icon fxFlex [@fadeInOut] class="lecturer"
              [class.hidden]="!hasPermission('EDIT_PERMISSIONS', user.permissions)"
              matTooltip="Will be marked as a lecturer" (click)="togglePermission(user, 'EDIT_PERMISSIONS')">
              school
            </mat-icon>
            <mat-icon fxFlex [@fadeInOut] class="tutor" [class.hidden]="!hasPermission('MODERATE', user.permissions)"
              matTooltip="Will be marked as a tutor" (click)="togglePermission(user, 'MODERATE')">
              person
            </mat-icon>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- ! Permission Columns ! -->
    <ng-container *ngFor="let permission of permissions" matColumnDef="{{permission.identifier}}">
      <th mat-header-cell *matHeaderCellDef class="perm-header"> {{ getDisplayString(permission.identifier) }}
      </th>
      <td mat-cell *matCellDef="let user">
        <mat-checkbox [checked]="hasPermission(permission.identifier, user.permissions)"
          (change)="togglePermission(user, permission.identifier)">
        </mat-checkbox>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</form>
<button mat-button [disabled]="!canSubmit()" (click)="submit()">Submit</button>