<div class="container" fxLayout="row">
  <div fxFlex="20" id="list">
    <div class="toolbar-header">
      <span>Select a Venue</span>
    </div>
    <mat-divider></mat-divider>
    <div class="venue-tree">
      <mat-tree [dataSource]="TREE_DATA" [treeControl]="treeControl" class="tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="select(node.parent)">
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled>-</button>
            {{node.code}}
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" (click)="select(node)"
                              [class.selected]="selected(node)">
          <!--[class.selected]="selected(node) || childSelected(node)"-->
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.code">
                <!--TODO: Add animations to this change-->
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.code}}
            </div>
            <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
  <div fxFlex id="view">
    <div *ngIf="selectedNode">{{selectedNode.code}}
      <span *ngFor="let room of selectedNode.rooms">
        {{room.code}}
      </span>
    </div>
  </div>
  <div fxFlex="15" id="toolbox" style="border: 2px solid blue"></div>
</div>
