<div class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <mat-card *ngFor="let question of sortedQuestions" class="question">
        <mat-card-title>{{question.content}}</mat-card-title>
        <mat-card-subtitle>{{question.personNumber}}</mat-card-subtitle>
        <mat-card-content>
            {{question.score}} point{{question.score == 1 ? '' : 's'}}
            <span fxFlex></span>
            <button (click)="upvoteQuestion(question.id)" [ngClass]="{'voted': question.voted===1}" mat-icon-button>
                <mat-icon>plus_one</mat-icon>
            </button>
            <button (click)="deleteQuestion(question.id)" *ngIf="canDelete" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</div>
<button #fab (click)="openAskQuestionDialog()" class="fab" mat-fab matTooltip="Ask a Question">
    <mat-icon>add</mat-icon>
</button>
