<section>
  <ul>
    <li>Pellentesque ac odio commodo, laoreet sapien sed, tempor libero.</li>
    <li>Etiam malesuada ipsum in ullamcorper ullamcorper.</li>
    <li>Praesent ut erat eget dolor euismod scelerisque eu vel est.</li>
    <li>Phasellus dapibus turpis nec eros tempor, at vestibulum sapien ornare.</li>
    <li>Morbi suscipit dolor ac ante pulvinar, eu posuere augue volutpat.</li>
    <li>Integer mattis justo eget lectus vulputate, non luctus sapien venenatis.</li>
    <li>Aliquam id lacus et purus ultricies eleifend.</li>
    <li>Cras et elit eget elit fringilla luctus.</li>
    <li>Donec tristique orci ut diam gravida commodo.</li>
    <li>Praesent eget massa in magna gravida consectetur.</li>
    <li>Sed dignissim libero ut mi vulputate, sed placerat ligula molestie.</li>
    <li>Sed in erat efficitur, vehicula diam ut, gravida nisl.</li>
  </ul>
</section>