<div *ngIf="!gotCourses; else elseTemplate">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<ng-template #elseTemplate>
    <div *ngIf="courses.length === 0; else coursesTemplate" class="no-content" [@fade]>
        There are no courses to display. Please enrol in a course or create a new one
    </div>
    <ng-template #coursesTemplate>
        <!-- ! Search Bar ! -->
        <div class="search-form" fxLayout="row" fxLayoutAlign="start start">
            <input type="search" #searchInput [(ngModel)]="searchTerm" placeholder="Search" class="search-input">
            <mat-icon class="search-icon">search</mat-icon>
            <div class="search-option">
                <div #lectureToggle (mousedown)="$event.preventDefault()">
                    <input name="type" type="checkbox" [(ngModel)]="lectureOnly" id="type-lecture">
                    <label for="type-lecture">
                        <mat-icon>school</mat-icon>
                        <span>Lecturer</span>
                    </label>
                </div>
                <div #tutorToggle (mousedown)="$event.preventDefault()">
                    <input name="type" type="checkbox" [(ngModel)]="tutorOnly" id="type-tutor">
                    <label for="type-tutor">
                        <mat-icon>person</mat-icon>
                        <span>Tutor</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- ! Course List ! -->
        <div *ngIf="filteredCourses.length === 0" class="course no-content" [@fade]>
            No courses match your search
        </div>
        <mat-card *ngFor="let course of filteredCourses" class="course"
            [ngClass]="{'lectured': isLecturer(course), 'tutored': isTutor(course)}" (click)="openDetailsDialog(course)"
            [@inOutAnimation]>
            <mat-card-title>{{ course.courseCode }}</mat-card-title>
            <mat-card-subtitle>{{ course.courseName }}</mat-card-subtitle>
            <mat-card-content>{{ course.courseDescription }}</mat-card-content>
            <mat-card-actions>
                <button mat-icon-button matTooltip="Chat" routerLink="{{ course.courseCode }}/chat">
                    <mat-icon>chat</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Forum" routerLink="{{ course.courseCode }}/forum">
                    <mat-icon>forum</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Announcements" routerLink="{{ course.courseCode }}/announcements">
                    <mat-icon matBadge="" matBadgeColor="warn" matBadgeDescription="Unread Notifications">
                        announcement
                    </mat-icon>
                </button>
                <button *ngIf="isLecturer(course)" mat-icon-button matTooltip="Edit"
                    routerLink="{{ course.courseCode }}/edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="isLecturer(course)" [disabled]="!isMoodleCourse(course)" mat-icon-button #spinButton
                    matTooltip="Fetch Moodle Data" (click)="syncWithMoodle(course.courseCode, course, spinButton)">
                    <mat-icon>cached</mat-icon>
                </button>
                <!--! For when muting courses is a thing-->
                <!-- <button mat-icon-button>
                                <mat-icon>notifications</mat-icon>
                            </button> -->
            </mat-card-actions>
        </mat-card>
    </ng-template>
</ng-template>
<app-speed-dial-fab #fab class="speed-dial" [icon]="'list'" [actions]="fabActions" (clicked)="doAction($event)">
</app-speed-dial-fab>