.edit-box {
    position: fixed;
    bottom: 0;
    width: 95%;
    .send-btn {
        top: 20px;
    }
}

button{
    position: fixed;
    bottom: 2%;
    right: 0;
}

.chat-container {
    position: fixed;
    width: 100%;
    height: 80%;
    overflow: auto;
}