<div id="wrapper">
    <mat-tab-group (selectedTabChange)="tabChange($event)" animationDuration="0ms" id="tab-group" mat-stretch-tabs>
        <mat-tab #chat>
            <ng-template matTabLabel>
                <span matBadge="{{unreadMessages}}" matBadgeColor="warn" matBadgeHidden="{{unreadMessages === 0}}"
                    matBadgeOverlap="false">
                    Chat
                    <button #switchButton (click)="switchMode()" *ngIf="isModerator()"
                        color="{{tutorMode ? 'warn' : 'primary'}}" mat-icon-button
                        matTooltip="Switch to {{tutorMode ? 'student' : 'tutor'}} mode">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </span>
            </ng-template>
            <ng-template matTabContent>
                <!--                 TODO Make this a virtual scroll -->
                <!-- TODO Make autoscroll work properly, without errors -->
                <div #autoscroll [scrollTop]="autoscroll.scrollHeight" class="message-container">
                    <app-chat-message (delete)="deleteMessage(message.id)"
                        *ngFor="let message of tutorMode ? messagesTutor : messagesStudent;" [canDelete]="isModerator()"
                        [message]="message" [outgoing]="message.personNumber === currentUser.personNumber">
                    </app-chat-message>
                </div>
                <div class="input-container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15ppx">
                    <textarea #messageInput (keydown.enter)="sendMessage(messageInput, $event)" autofocus
                        class="message-input" fxFlex placeholder="Type a message"></textarea>
                    <button (click)="sendMessage(messageInput)" class="send" mat-icon-button>
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab #survey>
            <ng-template matTabLabel>
                <span matBadge="★" matBadgeColor="warn" matBadgeHidden="{{!unansweredSurvey}}" matBadgeOverlap="false">
                    Survey
                </span>
            </ng-template>
            <ng-template matTabContent>
                <app-view-survey [course]="course" [survey]="survey$ | async"></app-view-survey>
            </ng-template>
        </mat-tab>
        <mat-tab #questions>
            <ng-template matTabLabel>
                <span>
                    Questions
                </span>
            </ng-template>
            <ng-template matTabContent>
                <div *ngIf="liveQuestions.length === 0" class="no-content">There are no questions</div>
                <app-live-questions (delete)="deleteQuestion($event)" (newQuestion)="askQuestion($event)"
                    (upvote)="voteQuestion($event)" [canDelete]="isModerator()" [questions]="liveQuestions">
                </app-live-questions>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>