.questions-container {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
}

.message-container {
    overflow-y: auto;
    height: 100%;

    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;

        &:hover {
            background: #555;
        }
    }
}


.input-container {
    position: sticky;
    bottom: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.12);
    // background: mat-color($wd-accent);

    .send {
        color: black;
    }

    .message-input {
        height: 1cm;
        max-height: 5em;
        border: none;
        background: white !important;
        border-radius: 2em;
        padding: 10px 5px;
        background: transparent;
        outline: 0;
        resize: none;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

.animate mat-icon {
    animation: rotate 0.3s ease-in-out 0s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}