@import 'src/assets/theming/animations';

.comment {
    margin: 15px;
    transition: ease-in-out;
}

.answer {
    color: #37ba1d;
}

.time {
    float: right;
    color: transparentize($color: #000000, $amount: 0.5)
}