<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="drawer" fixedInViewport="true" [attr.role]="dialog" [mode]="over" fxShow="isHandset$ | async"
    [opened]="(!isHandset$ | async)" fxLayout="column">
    <mat-nav-list>
      <!-- Put links here -->
      <!-- <mat-list-item mat-button routerLink="{{ link }}">{{ item }}</mat-list-item> -->
    </mat-nav-list>
    <mat-nav-list fxFlexAlign="bottom">
      <!-- TODO: Make these align on bottom-->
      <button mat-button (click)="openLoginDialog()">Log In</button>
      <button mat-raised-button color="accent" (click)="openSignupDialog()">Sign Up</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle side nav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button routerLink="">WitsDaily</a>
      <span style="flex: 1 1 auto;"></span>
      <div fxLayout="row" class="toolbar" [class.hidden]="isHandset$ | async">
        <!-- Put links here -->
        <!-- <a mat-button routerLink=" {{ link }} ">{{ item }}</a> -->
        <div>
          <button mat-button (click)="openLoginDialog()">Log In</button>
          <button mat-raised-button color="accent" (click)="openSignupDialog()">Sign Up</button>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>