.sidenav-container {
  height: 100%;
  overflow-y: hidden;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.scrollable-content {
  overflow-y: auto;
}

.mat-toolbar.mat-primary {
  max-height: 64px;
  min-height: 64px;
  position: sticky;
  top: 0;
  z-index: 100;
}

mat-sidenav {
  min-width: 200px;
  width: 33%;
}

.hidden {
  display: none;
}

[mat-button],
[mat-raised-button],
[mat-flat-button] {
  margin: 2px;
}