<section style="max-width: 500px;">
  <h1 mat-dialog-title>Ask a Question</h1>
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Question</mat-label>
        <textarea matInput formControlName="question"></textarea>
        <mat-error>
          Please enter a question
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button [disabled]="hasErrors()" type="submit" mat-dialog>Submit</button>
      <span fxFlex></span>
      <button mat-button type="button" mat-dialog-close color="warn">Cancel</button>
    </mat-dialog-actions>
  </form>
</section>