<mat-calendar (selectedChange)="changeSelected($event)" *ngIf="gotCourses" [dateClass]="timetableClass"
  [selected]="selectedDate" fxFlex="40"></mat-calendar>
<div *ngIf="selectedDate" fxFlex="60">
  <span *ngIf="selectedSessions.length == 0" class="no-content">There are no sessions on
    {{getDateString(selectedDate)}}</span>
  <mat-card *ngFor="let session of selectedSessions" [ngClass]="{'session': true, 'urgent': urgentSession(session)}">
    <mat-card-title>{{session.courseCode}}</mat-card-title>
    <mat-card-subtitle fxLayout="row">
      {{session.sessionType}} @ {{session.venue.buildingCode}}{{session.venue.subCode}}
      <span fxFlex></span>
      <button (click)="showInMap(session.venue)" *ngIf="venueHasCoords(session.venue)" mat-icon-button>
        <mat-icon>place</mat-icon>
      </button>
    </mat-card-subtitle>
    <mat-card-content>
      <i>
        {{session.date.toDateString()}} at {{session.date.toTimeString().substr(0, 5)}} for
        {{session.duration}} minutes
      </i>
      <div *ngIf="session.bookings" fxFlexAlign="row">
        <div>Bookings:</div>
        <mat-chip-list>
          <mat-chip *ngFor="let booking of bookingsFor(session); let i=index;">
            <span *ngIf="booking.personNumber">
              {{booking.personNumber}} @ {{getSlotStartTime(session, i)}}
            </span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>