<ng-container *ngIf="survey && survey.active; else elseTemplate">
  <form (submit)="answerSurvey()" *ngIf="!isLecturer()" [formGroup]="form">
    <h2>{{survey.title}}</h2>
    <div [ngSwitch]="survey.responseType">
      <mat-form-field *ngSwitchCase="'MC'">
        <mat-label>Choose an answer</mat-label>
        <mat-radio-group formControlName="answer">
          <mat-radio-button *ngFor="let option of survey.options; let i = index" value="i">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'TEXT'">
        <mat-label>Type an answer</mat-label>
        <textarea formControlName="answer" matInput></textarea>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'NUMERIC'">
        <mat-label>Type an answer</mat-label>
        <input autocomplete="off" formControlName="answer" matInput type="number">
      </mat-form-field>
    </div>
    <button (click)="answerSurvey()" [disabled]="form.pristine" color="primary" mat-raised-button>Submit answer</button>
  </form>
  <!-- Only for lecturers/mods -->
  <div *ngIf="isLecturer()">
    <div class="surveySummary">
      <h2>{{survey.title}}</h2>
    </div>
    <div *ngIf="survey.responseType === 'MC'">
      <p *ngFor="let response of survey.results; let i = index">
        {{survey.options[i]}}: {{response}}
      </p>
      <app-chart [data]="survey.results" [labels]="survey.options"></app-chart>
    </div>
    <button (click)="closeSurvey()" color="primary" mat-raised-button>Close this survey</button>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="no-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px">
    <div class="text">There are currently no open surveys</div>
    <button (click)="createSurvey()" *ngIf="isLecturer()" color="primary" mat-raised-button>Create One</button>
  </div>
</ng-template>
