@import 'src/assets/mixins';

.no-content {
    margin: 5% auto;
    transform: translateX(-50%);
}

.container {
    @include card(1);
    margin: 15px;
    padding: 15px;
    &:focus-within {
        @include card(2);
    }
}