<ng-container *ngIf="survey && survey.active; else elseTemplate">
  <form *ngIf="!isLecturer()" [formGroup]="form" (submit)="answerSurvey()">
    <h2>{{ survey.title }}</h2>
    <div [ngSwitch]="survey.responseType">
      <mat-form-field *ngSwitchCase="'MC'">
        <mat-label>Choose an answer</mat-label>
        <mat-radio-group formControlName="answer">
          <mat-radio-button *ngFor="let option of survey.options; let i = index" value="i">
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'TEXT'">
        <mat-label>Type an answer</mat-label>
        <textarea matInput formControlName="answer"></textarea>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'NUMERIC'">
        <mat-label>Type an answer</mat-label>
        <input matInput formControlName="answer" type="number" autocomplete="off">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="form.pristine" (click)="answerSurvey()">Submit answer</button>
  </form>
  <!-- Only for lecturers/mods -->
  <div *ngIf="isLecturer()">
    <div class="surveySummary">
      <h2>{{ survey.title }}</h2>
    </div>
    <div *ngIf="survey.responseType === 'MC'">
      <p *ngFor="let response of survey.results; let i = index">
        {{survey.options[i]}}: {{response}}
      </p>
      <app-chart [labels]="survey.options" [data]="survey.results"></app-chart>
    </div>
    <button mat-raised-button color="primary" (click)="closeSurvey()">Close this survey</button>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="no-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px">
    <div class="text">There are currently no open surveys</div>
    <button mat-raised-button *ngIf="isLecturer()" color="primary" (click)="createSurvey()">Create One</button>
  </div>
</ng-template>
