<h1> Welcome to WitsDaily</h1>
<p>Please note: The Student WitsDaily works best with the latest version of Chrome, Firefox and Internet Explorer and it
  also have an app</p>
<p>
  WitsDaily is an all encompassing day-to-day app for managing your education.
</p>
<div>
  <p>Current Students:</p>
  <p>you can enrol in the course studying</p>
  <p>You can join a live chat</p>
  <p>Check your timetable and venue</p>
  <p>View examination timetable</p>
  <p>If any of the information is incorrect or if you have any queries, please consult your faculty office.</p>
</div>
<div>If you have any queries please contact the Student Call Centre on 0117171888</div>
<div> You can follow the latest news on campus</div>
<a mat-raised-button color="accent" target="0" href="https://wits.ac.za/news/latest-news">News</a>