<title> Welcome ro WitsDaily</title>
<p1>Please note: The Student WitsDaily works best with the latest version of Chrome, Firefox and Internet Explorer and it also have an app</p1>
<p2>
  WitsDaily is an all encompassing day-to-day app for managing your education.
</p2>
<P3>
  <div>Current Students:</div>
  <div>you can enrol in the course studying</div>
  <div>You can join a live chat</div>
  <div>Check your timetable and venue</div>
  <div>View examination timetable</div>
<div>If any of the information is incorrect or if you have any queries, please consult your faculty office.</div>

<div>If you have any queries please contact the Student Call Centre on 0117171888</div>
</P3>
<div> You can follow the latest news on campus</div>
<mat-dialog-actions>
  <button mat-button window.location.href ="https://wits.ac.za/news/latest-news/">Click me!</button>
</mat-dialog-actions>
