<div *ngIf="gotPosts">
  <mat-card mat-ripple *ngFor="let post of posts" routerLink="{{ post.code }}">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.poster }}</mat-card-subtitle>
    <mat-card-content>{{ post.body }}</mat-card-content>
    <mat-card-actions>
      <app-post-action-buttons [post]="post"></app-post-action-buttons>
    </mat-card-actions>
  </mat-card>
</div>
<button #fab mat-fab class="fab" matTooltip="Create A Post" (click)="openCreatePostDialog()">
  <mat-icon>add</mat-icon>
</button>