<form (ngSubmit)="submit()" [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="2em">
    <div fxFlex fxLayout="column">
      <mat-form-field id="buildingCode">
        <mat-label>Building Code</mat-label>
        <input autocomplete="off" formControlName="buildingCode" matInput>
        <mat-error *ngIf="form.get('buildingCode').hasError('required')">
          Please enter a building code
        </mat-error>
        <mat-error *ngIf="form.get('buildingCode').hasError('taken')">
          That building already exists
        </mat-error>
      </mat-form-field>
      <mat-form-field id="buildingName">
        <mat-label>Building Name</mat-label>
        <input autocomplete="off" formControlName="buildingName" matInput>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button (click)="addFloor()" class="mat-small" mat-icon-button type="button">+</button>
        <span>Floors</span>
        <button (click)="removeFloor()" *ngIf="floorCount > 0" class="mat-small" mat-icon-button type="button">-
        </button>
      </div>
      <div *ngFor="let floor of floors.controls">
        <mat-form-field>
          <mat-label>Floor Name</mat-label>
          <input [formControl]="floor" autocomplete="off" matInput>
          <mat-error>
            Please enter a floor name
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="floors.hasError('required')">
        You must add at least one floor
      </mat-error>
      <mat-hint *ngIf="floorCount > 0">You can add rooms later</mat-hint>
    </div>
    <div fxFlex="40" fxLayout="column">
      <div class="square">
        <div class="map" fxFlex>
          <agm-map (mapClick)="setCoords($event.coords)" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
                   fxLayoutAlign="center center">
            <agm-marker (drag)="setCoords($event.coords)" [latitude]="latControl.value" [longitude]="lngControl.value"
                        [markerDraggable]="true"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="input-container" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field id="lat">
          <mat-label>Latitude</mat-label>
          <input [formControl]="latControl" autocomplete="off" matInput>
        </mat-form-field>
        <mat-form-field id="lng">
          <mat-label>Longitude</mat-label>
          <input [formControl]="lngControl" autocomplete="off" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button (click)="submit()" [disabled]="!canSubmit()" mat-button type="submit">Submit</button>
</form>
