<section style="max-width: 230px;">
  <h1 matDialogTitle>Confirm Enrolment in {{ data.code }} </h1>
  <form *ngIf="data.password" [formGroup]="form" (ngSubmit)="submit(form)">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Enrolment Key</mat-label>
        <input matInput formControlName="password" autocomplete="off">
        <mat-error>
          Please enter an enrolment key
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="wrongPassword && form.pristine">
        Invalid enrolment key
      </mat-error>
    </mat-dialog-content>
  </form>
  <mat-dialog-content *ngIf="!data.password">Are you sure you want to enrol for {{ data.code }}?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="hasErrors()" type="submit" (click)="submit(form)" mat-dialog>Ok</button>
    <span fxFlex></span>
    <button mat-button type="button" mat-dialog-close color="warn">Cancel</button>
  </mat-dialog-actions>
</section>