<section style="max-width: 230px;">
    <h1 matDialogTitle>Confirm Enrolment in {{data.code}} </h1>
    <form (ngSubmit)="submit(form)" *ngIf="data.password" [formGroup]="form">
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Enrolment Key</mat-label>
                <input autocomplete="off" formControlName="password" matInput>
                <mat-error>
                    Please enter an enrolment key
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="wrongPassword && form.pristine">
                Invalid enrolment key
            </mat-error>
        </mat-dialog-content>
    </form>
    <mat-dialog-content *ngIf="!data.password">Are you sure you want to enrol for {{data.code}}?</mat-dialog-content>
    <mat-dialog-actions>
        <button (click)="submit(form)" [disabled]="hasErrors()" mat-button mat-dialog type="submit">Ok</button>
        <span fxFlex></span>
        <button color="warn" mat-button mat-dialog-close type="button">Cancel</button>
    </mat-dialog-actions>
</section>
