// ! Search Bar
:host {
    // Default color
    --activeColor: red;
}

$activeColor: var(--activeColor);

.search-form {
    opacity: 0.7;
    position: relative;

    margin-left: 10%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;

    max-width: 90%;
    width: 175px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;

    &:focus-within {
        width: 350px;
        opacity: 1;
    }

    .search-input {
        position: absolute;
        top: 10px;
        left: 38px;
        font-size: 14px;
        background: none;
        color: #5a6674;
        width: 70%;
        height: 20px;
        border: none;
        appearance: none;
        outline: none;

        &:not(:focus) {
            width: 45%;
        }

        &::-webkit-search-cancel-button {
            appearance: none;
        }
    }

    .search-icon {
        position: absolute;
        top: 10px;
        left: 15px;
        height: 20px;
        width: 20px;
        padding: 0;
        margin: 0;
        color: #5a6674;
        cursor: default;
    }

    .search-option {
        position: absolute;
        text-align: right;
        top: 10px;
        right: 15px;

        // Each option itself
        div {
            position: relative;
            display: inline-block;
            margin: 0 1px;
            cursor: pointer;

            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.01;
                cursor: pointer;
            }

            // The label
            span {
                position: absolute;
                display: block;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                background: #929AA3;
                color: #fff;
                font-size: 9px;
                letter-spacing: 1px;
                line-height: 1;
                text-transform: uppercase;
                padding: 4px 7px;
                border-radius: 12px;
                top: -18px;
                transition: all .2s ease-in-out;

                // The little arrow
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top: 4px solid #929AA3;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    transition: all .2s ease-in-out;
                }
            }

            &:hover span {
                opacity: 1;
                top: -21px;
            }

            label {
                display: block;
                cursor: pointer;
            }

            mat-icon {
                height: 20px;
                width: 20px;
                color: #5a6674;
                opacity: 0.6;
                transition: all .2s ease-in-out;
                pointer-events: none;
            }

            &:hover mat-icon {
                opacity: 1;
            }

            //! From here down is for icons
            // Red icon when selected
            input:checked+label mat-icon {
                color: $activeColor;
                opacity: .9;
            }

            // Red label when selected
            input:checked+label span {
                background: $activeColor;

                &::after {
                    border-top-color: $activeColor;
                }
            }
        }
    }
}