<mat-card [style.background]="color" *ngIf="message.messageType === 'CHAT'">
  <mat-card-subtitle>{{message.personNumber}} @ {{message.time}}</mat-card-subtitle>
  <mat-card-content>{{message.content}}</mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="deleteThis()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<!-- ! It doesn't work like this :( -->
<!-- <mat-card *ngIf="message.messageType === 'DELETE'">
  <mat-card-content>
    <i>This message was deleted</i>
  </mat-card-content>
</mat-card> -->