<section style="max-width: 500px;">
  <h1 matDialogTitle>Create Survey</h1>
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Prompt</mat-label>
        <input matInput formControlName="title" autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="responseType">
          <mat-option value="MC">Multiple Choice</mat-option>
          <mat-option value="TEXT">Text</mat-option>
          <mat-option value="NUMERIC">Numeric</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="form.get('responseType').value === 'MC'" formArrayName="options">
        <mat-label>
          Options
          <button class="add-btn" mat-icon-button type="button" (click)="addOption()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-label>
        <mat-form-field *ngFor="let option of options.controls; let i = index">
          <span matPrefix>
            {{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[i % 26] }}:&nbsp;
          </span>
          <button matSuffix mat-icon-button (click)="removeOption(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <input matInput formControlName="{{i}}" autocomplete="off">
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button [disabled]="hasErrors()" type="submit" mat-dialog>Create</button>
      <span fxFlex></span>
      <button mat-button type="button" mat-dialog-close color="warn">Cancel</button>
    </mat-dialog-actions>
  </form>
</section>