section style="max-width: 300px;"></section>
<form [formGroup]="form" (ngSubmit)="submit(form)"></form>
<h1 mat-dialog-title>Register new Account</h1>
<mat-form-field>
       <div> <mat-label>Student Number</mat-label> </div>
<input formControlName="StudentNumber" matInput>
 <mat-error>
          Please enter a StudentNumber
        </mat-error>
 </mat-form-field>
</div>
<div>
<mat-form-field>
      <div>  <mat-label>Password</mat-label> </div>
<input formControlName="Password" matInput>
 <mat-error>
          Please enter a Password
        </mat-error>
 </mat-form-field>
</div>
<div>
<mat-form-field>
       <div> <mat-label>Confirm Password</mat-label> </div>
<input formControlName="Password1" matInput>
 <mat-error>
          Please enter a Password again
        </mat-error>
 </mat-form-field>
 </div>
 <mat-dialog-actions>
      <button mat-button [disabled]="hasErrors()" [disabled] = "validatePassword()" type="submit" mat-dialog>Submit</button>
      <span fxFlex></span>
      <button mat-button type="button" mat-dialog-close color="red">Cancel</button>
    </mat-dialog-actions>
	</body>
</section> 