@import 'src/assets/theming/animations.scss';

$duration: 300ms;

.upvoted {
    color: #FF4500; // orangered
}

.downvoted {
    color: #7193FF; // Periwinkle blue
}

vote-button {
    transition: color 300ms;
}

.score {
    display: inline-block;
    width: 25px;
    text-overflow: clip;
    text-align: center;
}