<button mat-icon-button disableRipple matTooltip="Upvote" class="vote-button" [@bounce]="upvoteState()"
  [ngClass]="{'upvoted': post.voted===1}" (click)="vote(1)">
  <mat-icon>thumb_up</mat-icon>
</button>
<i class="score" [ngClass]="{'downvoted': post.voted===-1, 'upvoted': post.voted===1}">
  ({{ score }})
</i>
<button mat-icon-button disableRipple matTooltip="Downvote" class="vote-button" [@bounce]="downvoteState()"
  [ngClass]="{'downvoted': post.voted===-1}" (click)="vote(-1)">
  <mat-icon>thumb_down</mat-icon>
</button>
<button mat-icon-button matTooltip="Reply" (click)="reply()">
  <mat-icon>reply</mat-icon>
</button>