<div>
    <button (click)="vote(1); $event.stopPropagation()" [@bounce]="upvoteState()" [matTooltip]="upvoted ? 'Remove Upvote':'Upvote'" [ngClass]="{'upvoted': upvoted}"
            class="vote-button" disableRipple mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
    </button>
    <i *appIfChanges="score" [@fadeInOut] [ngClass]="{'downvoted': downvoted, 'upvoted': upvoted}" class="score">
        {{score}}
    </i>
    <button (click)="vote(-1); $event.stopPropagation()" [@bounce]="downvoteState()" [matTooltip]="downvoted ? 'Remove Downvote':'Downvote'" [ngClass]="{'downvoted': downvoted}"
            class="vote-button" disableRipple
            mat-icon-button>
        <mat-icon>thumb_down</mat-icon>
    </button>
    <button (click)="reply(); $event.stopPropagation()" class="reply-button" mat-icon-button matTooltip="Reply">
        <mat-icon>reply</mat-icon>
    </button>
    <ng-content class="other-button"></ng-content>
</div>
