<div id="fab-dismiss" *ngIf="opened" (click)="toggle()">
</div>
<div class="fab-container">
  <button mat-fab class="fab-toggler" (click)="toggle()">
    <mat-icon *ngIf="spin" [@fabToggler]="{value: opened ? 'active' : 'inactive'}">{{ icon }}</mat-icon>
    <mat-icon *ngIf="!spin">{{ icon }}</mat-icon>
  </button>
  <div *ngIf=" opened" [@speedDialStagger]="actions.length">
    <button *ngFor="let act of actions" mat-mini-fab class="fab-secondary" color="secondary" matTooltip="{{ act.text }}"
      (click)="doAction(act)">
      <mat-icon>{{ act.icon }}</mat-icon>
    </button>
  </div>
</div>