<div (click)="toggle()" *ngIf="opened" id="fab-dismiss">
</div>
<div class="fab-container">
    <button (click)="toggle()" class="fab-toggler" mat-fab>
        <mat-icon *ngIf="spin" [@fabToggler]="{value: opened ? 'active' : 'inactive'}">{{icon}}</mat-icon>
        <mat-icon *ngIf="!spin">{{icon}}</mat-icon>
    </button>
    <div *ngIf=" opened" [@speedDialStagger]="actions.length">
        <button (click)="doAction(act)" *ngFor="let act of actions" class="fab-secondary" color="secondary"
                mat-mini-fab
                matTooltip="{{act.text}}">
            <mat-icon>{{act.icon}}</mat-icon>
        </button>
    </div>
</div>
