@import 'src/assets/mixins';

.container {
    max-width: 40%;
    margin: auto;
    margin-top: 25%;
    transform: translateY(-75%);
    padding: 15px;
    
    @include card(1);
    &:focus-within {
        @include card(2);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}