@import '../../assets/theming/animations';

$duration: 300ms;

.upvoted {
    color: orangered;
    &.animated {
        animation-name: rubberBand;
        animation-duration: $duration;
        transform-origin: center bottom;
    }
}

.downvoted {
    color: blue;
    &.animated {
        animation-name: rubberBand;
        animation-duration: $duration;
        transform-origin: center bottom;
    }
}

.unvoted {
    &.animated {
        animation-name: rubberBand;
        animation-duration: $duration;
        transform-origin: center bottom;
    }
}

.skip-animation {
    animation-duration: 0s !important;
}

.score {
    display: inline-block;
    width: 25px;
    text-overflow: clip;
    text-align: center;
}