$inColor: rgb(241, 210, 124);
$outColor: rgb(220, 248, 198);
$lecturerColor: rgb(245, 172, 172);
$darkLecturerColor: darken($lecturerColor, 35%);
$tutorColor: rgb(181, 218, 240);
$darkTutorColor: darken($tutorColor, 25%);