// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wd-web-primary: mat-palette($mat-indigo);
$wd-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wd-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wd-web-theme: mat-light-theme($wd-web-primary, $wd-web-accent, $wd-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wd-web-theme);

/* You can add global styles to this file, and also import other style files */
:not(.dark) {
    @import 'assets/theming/wd-light-theme.scss'; // Default Wits colours theme
}

.dark {
    @import 'assets/theming/wd-dark-theme.scss'; // Dark colours theme
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner {
    left: 50%;
    top: 50%;
    position: fixed;
}

mat-form-field {
    width: 100%;
}

.no-content {
    position: absolute;
    margin: 30px auto;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-tab-group mat-tab-body {
    min-height: 42.2vh;
    width: 100%;
}

// ! Temp fix for animating accordion
.ng-animating mat-expansion-panel-header {
    height: 48px;
}

.ng-animating div.mat-expansion-panel-content {
    height: 0px;
    visibility: hidden;
}