<section style="max-width: 230px;">
  <h1 matDialogTitle>Link Existing Course</h1>
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Moodle ID</mat-label>
        <input matInput formControlName="id" autocomplete="off">
        <mat-error>
          Please enter a Moodle ID
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="alreadyExists && form.pristine">
        Course has already been linked
      </mat-error>
      <mat-error *ngIf="missingPermissions && form.pristine">
        You do not have permission to link this course
      </mat-error>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button [disabled]="hasErrors()" type="submit" mat-dialog>Create</button>
      <span fxFlex></span>
      <button mat-button type="button" mat-dialog-close color="warn">Cancel</button>
    </mat-dialog-actions>
  </form>
</section>