<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Log In</h1>
  <mat-dialog-content>
    <ul>
      <!---Student number input-->
      <input mat-input formControlName="studentnumber" placeholder="Student Number">
      <!--Password-->
      <input mat-input formControlName="password" type="password" placeholder="Password">
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button>Log In</button>
    <button mat-button mat-dialog-close color="warn">Cancel</button>
  </mat-dialog-actions>
</form>